Repository Team-Ilmansa/yeogiga-web, pull requests merged in 2025-06, with the labels that each got.

#37 Feature(IL-192): 사용자가 속한 여행 조회 API 연동
  src/apis/trip/readTripApi.jsx
  src/pages/Home.jsx
Labels: feat, Trip🚗

#38 Feature(IL-171): 준비 중인 여행 조회
  src/App.jsx
  src/apis/trip/readSettingTripApi.jsx
  src/pages/Home.jsx
  src/pages/Trip.jsx
Labels: feat, Trip🚗

#40 Feature(IL-173): 특정 여행 정보 조회
  src/apis/trip/readTripInfo.jsx
  src/components/trip/TripInfo.jsx
  src/pages/Trip.jsx
Labels: feat, Trip🚗

#41 Feature(IL-174): 여행 이름 수정
  src/apis/trip/updateTripTitleApi.jsx
  src/components/trip/TripInfo.jsx
Labels: feat, Trip🚗

#42 Feature(IL-175): 여행 삭제
  src/apis/trip/deleteTripApi.jsx
  src/components/trip/TripInfo.jsx
Labels: feat, Trip🚗

#43 Feature(IL-164): 여행 캘린더 생성
  package-lock.json
  package.json
  src/components/trip/TripCalendar.css
  src/components/trip/TripCalendar.jsx
  src/pages/Trip.jsx
Labels: feat, Trip🚗

#45 Feature(IL-164): W2M 캘린더 생성 API 연동
  src/apis/calendar/createCalendarApi.jsx
  src/components/trip/TripCalendar.jsx
Labels: feat, Trip🚗

#46 Feature(IL-179): 여행 멤버 참가
  src/App.jsx
  src/apis/member/createMemberApi.jsx
  src/components/trip/TripInfo.jsx
  src/pages/Participation.jsx
Labels: feat, Trip🚗

#47 Feature(IL-180): 팀원 전체 W2M 조회
  src/apis/calendar/readCalendarApi.jsx
  src/components/trip/TripCalendar.css
  src/components/trip/TripCalendar.jsx
Labels: feat, Calendar 🗓️

#48 Feature(IL-182): 사용자 ID 전역 저장
  src/contexts/AuthProvider.jsx
  src/contexts/AuthUtil.jsx
Labels: feat, User 👤

#51 Fix(IL-184): 회원가입 버그 해결
  src/components/sign-up/SignUpForm.jsx
Labels: fix, User 👤

#52 Feature(IL-185): 사용자 프로필 등록 및 수정 API 연동
  public/images/default_profile.png
  src/apis/users/updateProfileApi.jsx
  src/pages/MyPage.jsx
Labels: feat, User 👤
